<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>
<p>
  <strong>First Name:</strong>
  <%= @contact.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact.message %>
</p>

<p>
  <strong>Senton:</strong>
  <%= @contact.sent_on %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
