<%= content_for(:title, "Results - #{@patient_care_score.city}, #{@patient_care_score.state}") %>
<div class="primary">
  <div class="row">
    <div class="small-12 columns">
      <h3>Hospital Results Near <%= "#{@patient_care_score.city}, #{@patient_care_score.state}" %></h3>
      Select from the following
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-12 columns">
    <table class="ltable" width="100%" cellspacing="0" cellpadding="0">
      <% @patient_care_scores.each_with_index do |h, index| %>

          <% if index > 0 then %>
              <tr>
                <td colspan="3">
                  <hr/>
                </td>
              </tr>
          <% end %>
          <tr>
            <td width="50%">
              <a href="patient_care_scores/<%= h.id %>"><b><%= h.hospital_name.split.map { |i| i.capitalize }.join(' ') %></b></a>

              <br/>
              <%= "#{@patient_care_score.city}, #{@patient_care_score.state}" %>
            </td>
            <td width="25%">
              <b><%= h.distance.abs %> miles</b>
              <br/>
              From <%= "#{@patient_care_score.city}, #{@patient_care_score.state}" %>
            </td>
            <td width="25%">
              <%= h.hcahps_consistency_score %>
              <br/>
              Hospital Rating
            </td>
          </tr>


      <% end %>
    </table>
  </div>

</div>
</div>