<%= content_for(:title, "Results - #{@patient_care_score.city}, #{@patient_care_score.state}") %>
<div class="primary">
  <div class="row">
    <div class="small-12 columns">
      <h3>Hospital Results Near <%= "#{@patient_care_score.city}, #{@patient_care_score.state}" %></h3>
      Select from the following
    </div>
  </div>
  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">

        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <% @patient_care_scores.each_with_index do |h, index| %>

              <li>
                <a href="<%= h.id %>">
                  <div class="row">
                    <div class="small-6 columns">
                      <h5><%= h.hospital_name.split.map { |i| i.capitalize }.join(' ') %></h5>
                      <span> <%= "#{h.city}, #{h.state}" %> </span>
                    </div>
                    <div class="small-3 columns">
                      <h5 class="color-primary-blue"><%= h.distance.round %> miles</h5>
                      <span>From <%= "#{@patient_care_score.city}, #{@patient_care_score.state}" %></span>
                    </div>
                    <div class="small-3 columns">
                      <div class="bubble-<%= h.grade.downcase %>"> <%= h.score %> %</div>
                      <span>Hospital Rating</span>
                    </div>

                  </div>
                </a>
              </li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>


</div>
</div>