<%= content_for(:title, "#{@patient_care_score.city}, #{@patient_care_score.state}") %>
<%= content_for(:parent1, "Results - #{@patient_care_score.city}, #{@patient_care_score.state}") %>
<%= content_for(:parent2, "Value Based Hospitals") %>
<div class="primary ">

  <div class="row">
    <div class="small-12 columns">
      <strong><%= "#{@patient_care_score.city}, #{@patient_care_score.state}" %></strong>
      <p>The hospital you are looking for is:</p>
    </div>
  </div>

  <div class="small-12 columns">
    <div class="row">

      <%# Hospital name block%>
      <div class="small-6 small-centered columns cl">
        <div class="panel">
          <div class="panel-header">Hospital Name</div>
          <div class="panel-body">
            <span><%= @patient_care_score.hospital_name.upcase %></span>
            <br/>
            <span style="color: #f1f1f1">  . </span>
          </div>
        </div>
      </div>

      <%#  Address block %>
      <div class="small-6 small-centered columns cr">
        <div class="panel">
          <div class="panel-header">Address</div>
          <div class="panel-body">
            <span><%= @patient_care_score.address.upcase %></span>
            <br/>
            <span><%= @patient_care_score.city.upcase %>
              ,<%= @patient_care_score.state.upcase %> <%= @patient_care_score.zip_code %>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%# Overrall rating block%>
  <div class="row">
    <div class="small-12 small-centered columns">
      <div class="panel">
        <div class="panel-header">Overall Rating</div>
        <div class="panel-body">
          <div class="rbar-container">
            <canvas id="rbar"></canvas>
          </div>

        </div>
      </div>

    </div>

  </div>


</div>
<script>
  $(function () {
    pcs.score = <%= @patient_care_score.score %>;
    drawRatingGraph($('#rbar').width(), $("#rbar").height());
  });
</script>