<p id="notice"><%= notice %></p>

<p>
  <strong>Provider number:</strong>
  <%= @patient_care_score.provider_number %>
</p>

<p>
  <strong>Hospital name:</strong>
  <%= @patient_care_score.hospital_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient_care_score.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient_care_score.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient_care_score.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @patient_care_score.zip_code %>
</p>

<p>
  <strong>County name:</strong>
  <%= @patient_care_score.county_name %>
</p>

<p>
  <strong>Communication with nurses achievement points:</strong>
  <%= @patient_care_score.communication_with_nurses_achievement_points %>
</p>

<p>
  <strong>Communication with nurses improvement points:</strong>
  <%= @patient_care_score.communication_with_nurses_improvement_points %>
</p>

<p>
  <strong>Communication with nurses dimension score:</strong>
  <%= @patient_care_score.communication_with_nurses_dimension_score %>
</p>

<p>
  <strong>Communication with doctors achievement points:</strong>
  <%= @patient_care_score.communication_with_doctors_achievement_points %>
</p>

<p>
  <strong>Communication with doctors improvement points:</strong>
  <%= @patient_care_score.communication_with_doctors_improvement_points %>
</p>

<p>
  <strong>Communication with doctors dimension score:</strong>
  <%= @patient_care_score.communication_with_doctors_dimension_score %>
</p>

<p>
  <strong>Responsiveness of hospital staff achievement points:</strong>
  <%= @patient_care_score.responsiveness_of_hospital_staff_achievement_points %>
</p>

<p>
  <strong>Responsiveness of hospital staff improvement points:</strong>
  <%= @patient_care_score.responsiveness_of_hospital_staff_improvement_points %>
</p>

<p>
  <strong>Responsiveness of hospital staff dimension score:</strong>
  <%= @patient_care_score.responsiveness_of_hospital_staff_dimension_score %>
</p>

<p>
  <strong>Pain management achievement points:</strong>
  <%= @patient_care_score.pain_management_achievement_points %>
</p>

<p>
  <strong>Pain management improvement points:</strong>
  <%= @patient_care_score.pain_management_improvement_points %>
</p>

<p>
  <strong>Pain management dimension score:</strong>
  <%= @patient_care_score.pain_management_dimension_score %>
</p>

<p>
  <strong>Communication about medicines achievement points:</strong>
  <%= @patient_care_score.communication_about_medicines_achievement_points %>
</p>

<p>
  <strong>Communication about medicines improvement points:</strong>
  <%= @patient_care_score.communication_about_medicines_improvement_points %>
</p>

<p>
  <strong>Communication about medicines dimension score:</strong>
  <%= @patient_care_score.communication_about_medicines_dimension_score %>
</p>

<p>
  <strong>Hospital environment achievement points:</strong>
  <%= @patient_care_score.hospital_environment_achievement_points %>
</p>

<p>
  <strong>Hospital environment improvement points:</strong>
  <%= @patient_care_score.hospital_environment_improvement_points %>
</p>

<p>
  <strong>Hospital environment dimension score:</strong>
  <%= @patient_care_score.hospital_environment_dimension_score %>
</p>

<p>
  <strong>Discharge information achievement points:</strong>
  <%= @patient_care_score.discharge_information_achievement_points %>
</p>

<p>
  <strong>Discharge information improvement points:</strong>
  <%= @patient_care_score.discharge_information_improvement_points %>
</p>

<p>
  <strong>Discharge information dimension score:</strong>
  <%= @patient_care_score.discharge_information_dimension_score %>
</p>

<p>
  <strong>Overall hospital achievement points:</strong>
  <%= @patient_care_score.overall_hospital_achievement_points %>
</p>

<p>
  <strong>Overall hospital improvement points:</strong>
  <%= @patient_care_score.overall_hospital_improvement_points %>
</p>

<p>
  <strong>Overall hospital dimension score:</strong>
  <%= @patient_care_score.overall_hospital_dimension_score %>
</p>

<p>
  <strong>Hcahps base score:</strong>
  <%= @patient_care_score.hcahps_base_score %>
</p>

<p>
  <strong>Hcahps consistency score:</strong>
  <%= @patient_care_score.hcahps_consistency_score %>
</p>

<p>
  <strong>Location:</strong>
  <%= @patient_care_score.location %>
</p>

<%= link_to 'Edit', edit_patient_care_score_path(@patient_care_score) %> |
<%= link_to 'Back', patient_care_scores_path %>
