<%= content_for(:title, "#{@patient_care_score.city}, #{@patient_care_score.state}") %>
<div class="primary ">

  <div class="row">
    <div class="small-12 columns">
      <strong><%= "#{@patient_care_score.city}, #{@patient_care_score.state}" %></strong>
      <p>The hospital you are looking for is:</p>
    </div>
  </div>

  <div class="row">
    <%# Hospital name block%>
    <div class="small-5 small-centered columns">
      <ul class="pricing-table">
        <li class="title">Hospital Name</li>
        <li class="price"><%= @patient_care_score.hospital_name.upcase %></li>
      </ul>
    </div>

    <%#  Address block %>
    <div class="small-5 small-centered columns">
      <ul class="pricing-table">
        <li class="title">Address</li>
        <li class="price">
          <%= @patient_care_score.address.upcase %>
          <br/>
          <%= @patient_care_score.city.upcase %>
          , <%= @patient_care_score.state.upcase %> <%= @patient_care_score.zip_code %>
        </li>
      </ul>
    </div>
  </div>

  <%# Overrall rating block%>
  <div class="row">
    <%= @patient_care_score.hcahps_consistency_score %>
  </div>


</div>