<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta content="USDSDemo" property="og:site_name">
    <meta content="article" property="og:type">

    <meta content="https://www.vets.gov/assets/images/design/logo/og-image.jpg" property="og:image">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700|Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/assets/design/icons/favicon.ico" />

    <!--[if lt IE 9]>
    <link rel='stylesheet' href='/assets/stylesheets/ie.css'>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="/assets/js/vendor/html5shiv.js"></script>
    <![endif]-->

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="page-disability">
    <div class="header">
      <div class="row full">
        <div class="small-6 medium-4 columns">
          <h1 role="banner"><a href="/">Vets.gov</a></h1>
        </div>
      </div>
    </div>

    <div id="content" class="interior">
      <div class="splash alternate">
        <div class="row">
          <div class="small-12 columns">
            <ul class="breadcrumbs" role="menubar" aria-label="Primary"> 
            <li class="active"><%= yield(:title) %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main" role="main">
        <div class="section">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
